--index-url https://download.pytorch.org/whl/cu126
--extra-index-url https://pypi.org/simple

# torchvision
# torchaudio
transformers>=4.46,<5
accelerate>=0.34,<1
sentencepiece>=0.2,<1
safetensors>=0.4,<1
python-dotenv>=1.0,<2
# custom
torch
datasets
peft
requests
typer
# flash-attn
# lm-eval add from github egg
git+https://github.com/EleutherAI/lm-evaluation-harness.git#egg=lm-eval